.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 998;
    background-color: transparent;

    &.scrolled {
        background-color: $main-color;
        transition: background-color 0.2s ease 0s;
    }

    &:has(.navbar-toggler.active) {
        background-color: $main-color;
    }

    &:has(.navbar-toggler.collapsed) {
        transition: background-color 0.3s ease 0.3s;  
    }

    &__container {
        padding-block: 1em;
        overflow-y: visible;
        
        .navigate {

            .navbar-toggler {
                background-color: transparent;
                width: 50px;
                height: 50px;

                .navbar-toggler-icon {
                    width: 100%;
                    height: 5px;
                    display: block;
                    background: $btn-color;
                    position: relative;
                    border-radius: 30px;

                    &::before,
                    &::after {
                        content: '';
                        width: inherit;
                        height: inherit;
                        display: block;
                        background: $btn-color;
                        position: absolute;
                        border-radius: inherit;
                        transform: rotate(0deg);
                        transition: all .3s ease-in-out;

                    }

                    &::before {
                        top: -15px;
                    }

                    &::after {
                        bottom: -15px;
                    }
                }
            }

            .active {
                .navbar-toggler-icon {
                    background: transparent;
                    transition: all .3s ease-in-out;

                    &::before {
                       transform: rotate(45deg);
                       top: 0;
                    }

                    &::after {
                        transform: rotate(-45deg);  
                        bottom: 0;
                    }
                }

            }

            .navbar-nav {
                align-items: center;
                justify-content: center;
                gap: 36px;

                @include media(lg) {
                    padding-bottom: 20px;
                }
                
                .nav-link {
                    color: $white;
                    padding-inline: 0rem;
                    
                }
            }

        }
    }

    &__link-start {

        @include media(lg) {
            display: block;
            max-width: max-content;
            margin: 0 auto;
        }
    }
}

.navbar {

    .container-fluid {
        padding-inline: 0;

        .navbar-collapse {
            gap: 32px;

            //drop-down menu
            .dropdown-toggle {
                display: flex;
                justify-content: center;
                align-items: center;

                //drop-down arrow
                &::after {
                    content: '\f078';
                    font-family: $fa;
                    font-weight: 900;
                    font-size: 15px;
                    border-top: unset;
                    transform: rotate(0);
                    transition: all .3s ease-in-out;
                }
            }

            .show {
                &::after {
                    transform: rotate(180deg);
                    transition: all .3s ease-in-out;
                }
            }

            .dropdown-menu  {
                background-color: $main-color;
                left: -50%;

                

                .dropdown-item {
                    color: $header-color;
                    text-align: center;
                    
                    &:hover {
                        background-color: $sub-hover-color;
                    }
                }
                
            }
            
        }
    }
}
